@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #dddddd;
  margin: 0;
  padding: 0;
  font-family: poppins;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}

.aside {
  width: 270px;
  background-color: #37596B;
  position: fixed;
  overflow: auto;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  /* border-right: 2px solid #ddd; */
  padding: 30px;
  display: none;
}
 .intro{
  text-align: center;
  margin-top: 30%;
}
 .intro img{
   background-color: red;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: inline-block;
  border: 4px solid #ffffff;
}
.intro .h1{
  font-size: 30px;
  color: #302e4d;
  font-family: poppins;
  font-weight: 600;
  margin: 20px 0 5px;
}
.burger {
  cursor: pointer;
  float: left;
  z-index: 100;
  transition: all 0.5s ease;
}
.burger i {
  color: red;
  font-size: 30px;
}
.nav_active {
  display: block;
}
.open {
  margin-left: 290px;
}
.nav {
  margin-top: 10%;
}
ul {
  list-style: none;
  cursor: pointer;
}
ul li {
  padding: 10px;
  
}
ul li a {
  text-decoration: none;
  color:#ccc;
}
ul .main-item .sub {
  display: none;
  transform: all 0.5s ease;
}
ul li ul li a{
  padding: 5px;
  color: #ddd;
}
.main-item4 button{
background: none;
outline: none;
border: none;
color: #ccc;
font-size: 20px;
font-family: poppins;
font-weight: 500;
}
.main-item,.main-item1, .main-item2,.main-item3,.main-item4{
  border: 1px solid rgba(218, 218, 218, 0.2);
  border-radius: 5px;
  padding: 5px 20px 5px 10px;
  margin: 10px;
}

ul li.active {
border: 1px solid rgba(218, 218, 218, 1);
color:#fff;
transform:all 0.3s ease;
}
ul li.active a {
  color: #fff;
}

ul li.active a i{
  color: #fff;
}

.sub1,
.sub2 {
  display: none;
  transition: all 0.4s ease;
}
.show {
  display: block;
  overflow: hidden;
  animation-name: dropdown;
  animation-duration: .8s;
  transform: all 1s ease-in-out;
}

@keyframes dropdown {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  /* 25% {
    transform: translateX(-75%);
    opacity: 0;
  }
  50% {
    transform: translateX(-50%);
    opacity: 0;
  }
  75% {
    transform: translateX(-25%);
    opacity: 0;
  } */
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.fa {
  padding-right: 10px;
}
.fa-caret-down {
  padding-left: 10px;
}

.container {
  margin: 0px auto;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  min-width: 100%;
  flex-wrap: wrap;
}

.right {
  background-color: #37596b;
  height: 100vh;
  min-width: 40%;
  display: flex;
  justify-content: center;
  border-left: 2px solid #ddd;
  align-items: center;
  position: relative;
}
.left {
  background-color: #012436;
  padding: 20px;
  height: 100vh;
  min-width: 60%;
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.8);
  float: left;
}
h2 {
  margin-top: 5%;
}
td > button {
  height: 60px;
  width: 60px;
  border-radius: 10%;
  background-color: rgb(229, 226, 226);
  outline: none;
  border: none;
  margin: 15px;
  font-family: poppins;
  font-weight: 600;
  font-size: 20px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.8);
}

.question {
  width: 100%;
  background-color: #ddd;
  height: 40%;
  margin-top: 20%;
  /* border: 2px solid rgb(87, 87, 87); */
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: black;
}
h5 {
  font-size: 30px;
}
.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  border: 1px solid black;
  box-shadow: inset 0 0 0 5px rgba(0, 0, 0, 0.4);
}
#btn button {
  padding: 15px 25px;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  border-radius: 5px;
  background-color: #012436;
  color: #fff;
  font-family: poppins;
  font-weight: 600;
  font-size: 18px;
  outline: none;
}

.row {
  position: absolute;
  top: 30%;
  display: flex;
  flex-wrap: wrap;
}
.row button {
  padding: 15px 15px;
  border: none;
  border-radius: 5px;
  background: transparent;
  color: #fff;
  font-family: poppins;
  font-weight: 600;
  font-size: 18px;
  outline: none;
}
::-webkit-scrollbar {
  width: 0px;
}
.activesection {
  display: block;
}

.option.hide {
  display: none;
}
.option.show {
  display: block;
  animation: show 0.5s;
}
@keyframes show {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* ::-webkit-scrollbar-track{
  border: 7px solid #ddd;
  border-radius: 10px;
}
::-webkit-slider-thumb{
  background-color: red;
  border-radius: 5px;
} */
@media (min-width: 320px) {
  .left,
  .right {
    width: 100%;
  }
  table {
    padding: 0;
  }
  td > button {
    margin: 13px;
    align-items: flex-start;
  }
  .row button{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -25px;
  }
}
@media (min-width: 481px) {
  .left,
  .right {
    width: 100%;
  }
  .right {
    margin: 0px;
    padding: 0px;
  }
  table {
    width: 100%;
  }
  td > button {
    margin: 15px;
  }
}
@media (min-width: 961px) {
  .container {
    min-width: 100%;
    display: flex;
    float: left;
    flex-wrap: nowrap;
    overflow: hidden;
  }
  td > button {
    width: 45px;
    height: 45px;
    margin: 20px 20px;
  }
}
@media (min-width: 1025px) {
  td > button {
    width: 50px;
    height: 50px;
  }
  .left {
    width: 100%;
  }
}
@media (min-width: 1281px) {
  td > button {
    width: 60px;
    height: 60px;
  }
}
